body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    font-size: 2em;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a text shadow */
    padding: 10px; 
}

.buttons {
    margin-top: 50px;
    
}

button {
    background-color: #3498db;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    border: 2x solid black;
    border-radius: 5px;
    margin: 0 50px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
    
}
.background-image {
    background-image: url('https://mockwebaudio.s3.us-west-1.amazonaws.com/IMG_9384.PNG');
    background-position: bottom center;
    background-size: contain;
    height: 600px; /* Adjust height as needed */
}
